<!DOCTYPE html>
<body>
	<form action="/up" method="get">
		<button type="submit">Update</button>
	</form>
	<form action="/ad" method="get">
		<button type="submit">Add</button>
	</form>
	<form action="/de" method="get">
		<button type="submit">Delete</button>
	</form>
	<form action="/search" method="get">
		<button type="submit">Search</button>
	</form>

</body>