<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid">
				<form action="/update" method="post">
					<h1 style="text-align: center;">Update Name Using Roll no</h1>
					<div class="input-group mb-3 b">
					  <div class="input-group-prepend ">
					    <span class="input-group-text" id="inputGroup-sizing-default">Roll no</span>
					  </div>
					  <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="rollno" max="199999999" min="100000000">
					</div>
					<div class="input-group mb-3 b">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
					  </div>
					  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name">
					</div>
					
					<div class="input-group mb-3 b">
					<button class="btn btn-secondary ">Submit</button>	</div>

				</form>


				<form action="/updated" method="post">
					<h1 style="text-align: center;">Update Dept Using Roll no</h1>
					<div class="input-group mb-3 b">
					  <div class="input-group-prepend ">
					    <span class="input-group-text" id="inputGroup-sizing-default">Roll no</span>
					  </div>
					  <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="rollno" max="199999999" min="100000000">
					</div>
					<div class="input-group mb-3 b">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="inputGroup-sizing-default">Department</span>
					  </div>
					  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="dept">
					</div>
					
					<div class="input-group mb-3 b">
					<button class="btn btn-secondary text-nowrap c">Submit</button>	

				</form>
			
	</div>
	
</body>